{
  "extends": "airbnb/base",
  "rules": {
    "comma-dangle": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint"
  },
  "globals": {
    "describe": false,
    "xdescribe": false,
    "it": false,
    "beforeEach": false,
    "afterEach": false,
    "expect": false,
    "spyOn": false,
    "jasmine": false
  }
}
